*.test
/build/
/bin/
*.out
.idea/
./TODO
.vscode
/target/
/classes/
/.lein-*
/.nrepl-port
/store/

# OS
.DS_Store

# Binaries
**/cmd/kv
**/cmd/kvstore

# Logs
*.log
*.txt
**/logn*/

# Jepsen artifacts
**/jepsen/docker/bin/
**/jepsen/**/store/
